<nav class="navbar navbar-inverse navbar-static-top">
	<div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Example Application</a>
    </div>
  

  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li>{{link-to 'Contacts' 'contacts'}}</li>
    </ul>
  </div>
  </div>
</nav>
{{outlet}}
