<div class="container">
  <h1>Contacts Route</h1>
    
  <div class="contacts__sidebar">
    <ul class="contacts__list">
      {{#each sortedContacts as |contact|}}
        <li class="contacts__list__item">
          {{#link-to 'contacts.show' contact.id}}
            <div class="contacts-list-item-detail">
              <img class="contact__sidebar__picture" src={{contact.avatar}}>
              <span class="contact__sidebar__name">{{contact.fullName}}</span>
            </div>
          {{/link-to}}
        </li>
      {{/each}}
    </ul>
  </div>

  <div class="contacts__detail">
    {{outlet}}
  </div>
</div>


